<template>

    <div>
        <admin-menu-component></admin-menu-component>

        <h3 class="p-2">Dodaj użytkownika</h3>

        <div class="form">
            <div class="form-group row" >
                <label for="firstname" class="col-sm-2 col-form-label">Imię</label>
                <div class="col-sm-6">
                    <input v-model="firstname" @input="$v.firstname.$touch()" class="form-control" type="text" id="firstname">
                    <p class="form-text text-danger" v-if="$v.firstname.$dirty && !$v.firstname.required">Pole jest wymagane</p>
                </div>
            </div>
            <div class="form-group row" >
                <label for="lastname" class="col-sm-2 col-form-label">Nazwisko</label>
                <div class="col-sm-6">
                    <input v-model="lastname" @input="$v.lastname.$touch()" class="form-control" type="text" id="lastname">
                    <p class="form-text text-danger" v-if="$v.lastname.$dirty && !$v.lastname.required">Pole jest wymagane</p>
                </div>
            </div>
            <div class="form-group row" >
                <label for="biography" class="col-sm-2 col-form-label">Odpowiedź zabezpieczająca</label>
                <div class="col-sm-6">
                    <textarea v-model="biography" class="form-control"  id="biography" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button v-on:click="addAuthor" :disabled="$v.$invalid" class="btn btn-success m-2">Dodaj autora</button>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import AdminMenuComponent from "../AdminMenuComponent";
    import { validationMixin } from 'vuelidate'
    import { required} from 'vuelidate/lib/validators'

    export default {
        name: "AddAuthorComponent",
        components: {
            AdminMenuComponent
        },
        data: function () {
            return {
                firstname: '',
                lastname: '',
                biography: '',
            }
        },
        mixins: [validationMixin],
        validations: {
            firstname: {
                required
            },
            lastname: {
                required
            }
        },
        methods: {
            addAuthor: function () {
                // eslint-disable-next-line no-console
                console.log("Dodaj");
                this.$router.push('/admin');
            }
        }
    }
</script>

<style scoped>

</style>