<template>
    <div>

        <admin-menu-component></admin-menu-component>

        <h3 class="p-2">Znajdź użytkownika</h3>

        <div class="form mt-5">
            <div class="form-group row" >
                <label for="login" class="col-sm-2 col-form-label">Login</label>
                <div class="col-sm-6">
                    <input v-model="username" @input="$v.username.$touch()" class="form-control" type="text" id="login">
                    <p class="form-text text-danger" v-if="$v.username.$dirty && !$v.username.required">Pole jest wymagane</p>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button v-on:click="search" class="btn btn-success m-2" :disabled="$v.$invalid">Znajdź</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import AdminMenuComponent from "../AdminMenuComponent";
    import { validationMixin } from 'vuelidate'
    import { required } from 'vuelidate/lib/validators'

    export default {
        name: "SearchUserComponent",
        components: {
            AdminMenuComponent
        },
        data() {
            return {
                username:'',
            }
        },
        mixins: [validationMixin],
        validations: {
            username: {
                required
            }
        },
        methods: {
            search() {

                this.$router.push({
                    name: 'adminUserProfile',
                    params: {
                        id: 1
                    }
                })


            }
        }

    }
</script>

<style scoped>

</style>