<template>
    <div>
        <admin-menu-component></admin-menu-component>

        <h3 class="p-2">Lista użytkowników</h3>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Login</th>
                <th scope="col">Przejdz w profil</th>
                <th scope="col">Usuń</th>
            </tr>
            </thead>
            <tbody>


            <tr v-for="user of users" v-bind:key="user.id">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td><router-link :to="'/admin/user/' + user.id" class="btn btn-primary">Przejdź</router-link></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>


</template>

<script>

    import Vue from 'vue'
    import AdminMenuComponent from "../AdminMenuComponent";

    export default {
        name: "UsersListComponent",
        components: {
            AdminMenuComponent
        },
        data: function () {
            return {
                users: null
            }
        },
        methods: {
            getUsers: function () {
                Vue.http.get(process.env.VUE_APP_PROXY_API_ADDRESS + '/admin/users')
                    .then((response) => response.json())
                    .then((result) => {
                        this.users = result.data;
                    });
            }
        },
        created() {
            this.getUsers();
        }
    }
</script>

<style scoped>

</style>