<template>
    <div>
        <h3 class="p-2">Użytkownik {{ username }}</h3>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Tytył</th>
                <th scope="col">Stan</th>
                <th scope="col">Data akcji</th>
                <th scope="col">Data oddania</th>
                <th scope="col">Akcja</th>
            </tr>
            </thead>
            <tbody>


            <tr v-for="loan of loans" v-bind:key="loan.id">
                <td>{{ loan.title }}</td>
                <td>{{ loan.loanState }}</td>
                <td>{{ loan.reserveDate }}</td>
                <td>{{ loan.returnDate }}</td>
                <td><button v-show="loan.loanState !== 'RETURNED'" type="button" @click="changeState(loan.id, loan)" class="btn btn-primary">Akcja</button></td>
            </tr>
            </tbody>
        </table>

    </div>
</template>

<script>

    import Vue from 'vue';

    export default {
        name: "UserProfileComponent",
        data: function () {
            return {
                loans: [],
                username: ''
            }
        },
        methods: {
            getAdminUser: function () {
                Vue.http.get(process.env.VUE_APP_PROXY_API_ADDRESS + '/admin/userdetails/' + this.$route.params.id)
                    .then(response => {
                        // eslint-disable-next-line no-console
                        console.log(response)
                        this.username = response.body.data.username;
                        this.loans = response.body.data.loans;
                    });
            },
            changeState: function (hire, loan) {

                // eslint-disable-next-line no-unused-vars
                let xd;
                if (loan.loanState === 'LOANED') {
                    xd = 2;
                } else if (loan.loanState === 'RESERVED') {
                    xd = 1
                }

                Vue.http.patch(process.env.VUE_APP_PROXY_API_ADDRESS + '/admin/loans/changeStatus', {
                    loanId: hire,
                    loanStatus: xd
                })
                    .then(() => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Książka',
                            text: 'Status został zmieniony!'
                        });
                        this.getAdminUser();
                    }, () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Książka',
                            text: 'Status nie został zmieniony!'
                        });
                    });
            }
        },
        created() {
            this.getAdminUser();
        }
    }
</script>

<style scoped>

</style>