.btn-primary {
    background-color: #477597;
}
body {
    background-color: #f0f0f0;
   height: 100%;
   
}
.jumbotron 
{
background-color:#477597;
    text-align: center;
   margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
    

}
.jumbotron>h2
{
    color: white;
}
.btn-wlasny
{
color: white;
    background-color: #477597;
    margin-top: 3%;
    float: right;
    width: 28%;
    margin-bottom: 10%;
    
}
label{
       font-size: 20px;
    margin-top: 3%;
}
.label
{
    margin-top: 10%;
}
.nav-tabs
{
margin-left: 10%;
    margin-right: 10%;
}
.nav-adm
{
    color: black;
}
.nav-item>.active{
  color: white!important;
  background-color: #477597 !important;    
}
.link > a:hover {
  background-color: #70b3f5;
    color:white;
}

 .container
{
margin-top: 47.999px;
    overflow: auto;
    min-height: 100vh; 
}
.users
{
    margin-top: 2%;
    background-color: #fdfdfd;
    padding: 3%;
   
}
.btn-mods
{
    float:right;
    background-color: rgb(255, 0, 0);
    color: white;  
}
.btn-ban
{
    float:right;
    background-color: #008920;
    color: white; 
    
}
