body {
    background-color: #424242;
}

#login-logo {
    height: 150px;
    margin: 30px 0px;
}

#login-container {
    width: 450px;
    max-width: 100%;
}

#login-form {
    background-color: white;
    border-radius: 4px;
}

#view-switch {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    white-space: nowrap;
}

#view-switch>a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    display: block;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#view-switch>a:not(.active):hover {
    background-color: #505050;
}

#view-switch>.active {
    background-color: white;
    color: initial;
}

#view-switch>.active:hover {
    color: initial;
}