.btn-primary {
    background-color: #477597;
}
body {
    background-color: #f0f0f0;
}
.jumbotron 
{
background-color:#477597;
    text-align: center;
   margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;

}
.jumbotron>h2
{
    color: white;
}
.btn-wlasny
{
color: white;
    background-color: #477597;
    margin-top: 3%;
    float: right;
    width: 40%;
    margin-bottom: 10%;
}
.container
{
margin-top: 47.999px;
    overflow: auto;
    min-height: 100vh;
    
}