body {
    background-color: #f0f0f0;
}

a {
    text-decoration: none !important;
}

footer {
    background-color: #424242;
    padding: 50px 20px 8px;
    color: #b2b2b2;
    display: flex;
   
}

footer>div {
    width: 33.3333333%;
}

#main-navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #424242;
    padding: 4px 16px;
}

/*
 *  USER BADGE
 */

#navbar-user-badge {
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

.user-badge {
    display: inline;
    color: white;
}

.user-avatar {
    background-color: rgb(48, 146, 39);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    display: inline-block;
}

.menu-caret {
    display: inline-block;
    margin-left: 8px;
}

/*
 * USER MENU
 */

#user-menu {
    position: absolute;
    bottom: -105px;
    right: 0px;
    background-color: #424242;
    padding: 7px 0px;
    color: white;
    box-shadow: 0px 1px 5px 0px #999999;
    border-radius: 4px;
    transition: visibility 0.2s, opacity 0.2s, margin-bottom 0.2s;
}

.user-menu-hidden {
    opacity: 0;
    visibility: collapse;
    margin-bottom: 8px;
}

#logout-menu-item {
    color: #f42828 !important;
}

.user-menu-item {
    display: flex;
    align-items: center;
    padding: 7px 20px;
    color: white;
}

.user-menu-item-icon {
    margin-right: 17px;
}

.user-menu-item:hover {
    color: inherit;
    background-color: #476e8c;
}

/*
 *  NOTIFICATION
 */

#notification-block {
    margin: 0px 18px;
}

#notification-label {
    color: white;
    display: none;
}

/*
 *  SEARCH FORM
 */

#navbar-search {
    display: flex;
    margin: 0px;
    height: 35px;
    background-color: #505050;
    border-radius: 4px;
    margin: 0px auto 0px 20px;
    flex-grow: 1;
    max-width: 700px;
}

#navbar-search>input[type=text] {
    padding-left: 10px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    flex-grow: 1;
}

#navbar-search>input[type=text]::placeholder {
    color: #888888;
}

#navbar-search>button {
    background-color: transparent;
    border: none;
    padding-right: 13px;
}

/*
 *  FOOTER
 */

#footer-center {
    text-align: center;
}

.social-link {
    margin: 0px 5px;
}

.navbar-toggler {
    border: none;
}

#footer-right {
    text-align: right;
}

.footer-link {
    margin: 0px 10px;
    color: #b2b2b2;
}

.footer-link:hover {
    color: #cccccc;
}

/*DO WŁAŚCIWEGO WYŚWIETLANIA NAGŁÓWKA DLA MAŁYCH EKRANÓW*/

@media(max-width:690px) {
    .navbar-nav {
        display: none;
    }
}

@media(max-width: 575.98px) {
    .navbar-nav {
        display: block;
    }
    #navbar-user-badge {
        visibility: collapse;
    }
    #user-menu-collapse {
        display: none;
    }
    #user-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        box-shadow: none;
        margin-bottom: 0px;
    }
    .user-menu-item {
        padding-left: 0px;
        padding-right: 0px;
    }
    .user-menu-item:hover {
        background-color: initial;
    }
    #navbar-search {
        margin: 10px 0px 15px;
    }
    #notification-block {
        padding: 7px 0px;
        margin: 0px;
    }
    #notification-label {
        display: inline;
    }
    #notification-icon {
        margin-right: 10px;
    }
}