<template>
    <div>

        <user-menu-component></user-menu-component>

        <p class="p-5">Witaj w panelu użytkownika</p>

        <p>Login: {{ userLogin }}</p>
        <p>Email: {{ userEmail }}</p>

        <h3 class="text-center" v-if="favorites.length > 0">Ulubione</h3>

        <table class="table" v-if="favorites.length > 0">
            <thead>
            <tr>
                <th scope="col">Tytył</th>
                <th scope="col">Przejdź</th>
                <th scope="col">Usuń</th>
            </tr>
            </thead>
            <tbody>


            <tr v-for="fav of favorites" v-bind:key="fav.id">
                <td>{{ fav.title }}</td>
                <td><router-link class="btn btn-primary" :to="'/book/' + fav.descriptionId">Przejdź</router-link></td>
                <td><button class="btn btn-warning" @click="removeFav(fav.id)">Usuń</button></td>
            </tr>
            </tbody>
        </table>


    </div>
</template>

<script>

    import UserMenuComponent from "./UserMenuComponent";
    import Vue from 'vue'

    export default {
        name: "UserPanel",
        components: {
            UserMenuComponent
        },
        data: function (){
            return {
                userLogin: '',
                userEmail: '',
                favorites: []
            }
        },
        methods: {
            getUserDetails: function () {
                Vue.http.get(process.env.VUE_APP_PROXY_API_ADDRESS + "/user/details/1").then(
                    response => {
                        // eslint-disable-next-line no-console
                        console.log(response);
                        this.userLogin = response.body.login;
                        this.userEmail = response.body.email;
                    }
                );
            },

            getFavorites: function () {
                Vue.http.get(process.env.VUE_APP_PROXY_API_ADDRESS + "/user/favorites").then(
                    response => {
                        this.favorites = response.body.data;
                    }
                );
            },
            
            removeFav: function (id) {
                Vue.http.delete(process.env.VUE_APP_PROXY_API_ADDRESS + "/user/favorites/" + id).then(
                    () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Ulubione',
                            text: 'Element usunięty z listy'
                        });
                        this.getFavorites();
                    },
                    () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Ulubione',
                            text: 'Element nie usunięty z listy'
                        });
                    }
                );
            }
            
        },
        created() {
            this.getUserDetails();
            this.getFavorites();
        }
    }
</script>

<style scoped>

</style>