<template>
    <div>

        <user-menu-component></user-menu-component>


        <h3 class="p-2">Zmień hasło</h3>

        <div class="form">
            <div class="form-group row" >
                <label for="oldPassword" class="col-sm-2 col-form-label">Stare hasło</label>
                <div class="col-sm-6">
                    <input v-model="oldPassword" @input="$v.oldPassword.$touch()" class="form-control" type="password" id="oldPassword">
                    <p class="form-text text-danger" v-if="$v.oldPassword.$dirty && !$v.oldPassword.required">Pole jest wymagane</p>
                </div>
            </div>
            <div class="form-group row" >
                <label for="newPassword" class="col-sm-2 col-form-label">Nowe hasło</label>
                <div class="col-sm-6">
                    <input v-model="newPassword" @input="$v.newPassword.$touch()" class="form-control" type="password" id="newPassword">
                    <p class="form-text text-danger" v-if="$v.newPassword.$dirty && !$v.newPassword.required">Pole jest wymagane</p>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button @click="changePassword" :disabled="$v.$invalid" class="btn btn-success m-2">Zmień hasło</button>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import UserMenuComponent from "./UserMenuComponent";
    import Vue from 'vue'
    import { validationMixin } from 'vuelidate'
    import { required } from 'vuelidate/lib/validators'
    import router from '../../router'

    export default {
        name: "UserChangePasswordComponent",
        components: {
            UserMenuComponent
        },
        data: function () {
            return {
                oldPassword: '',
                newPassword: ''
            }
        },
        mixins: [validationMixin],
        validations: {
            oldPassword: {
                required,
            },
            newPassword: {
                required,
            }
        },
        methods: {
            changePassword: function () {
                let credentials = {
                    oldPassword: this.oldPassword,
                    newPassword: this.newPassword
                };

                Vue.http.patch(process.env.VUE_APP_PROXY_API_ADDRESS + '/user/changePassword', credentials)
                    .then(() => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Hasło',
                            text: 'Hasło zostało zmienione'
                        });
                        router.push({path: '/account'});
                    }, () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Hasło',
                            text: 'Hasło nie zostało zmienione'
                        });
                    });
            }
        },
        created() {

        }
    }
</script>

<style scoped>

</style>