<template>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <router-link class="nav-link" to="/account">Główna</router-link>
        </li>
        <li class="nav-item">
            <router-link class="nav-link" to="/account">Rezerwacje</router-link>
        </li>
        <li class="nav-item">
            <router-link class="nav-link" to="/account">Wypożyczenia</router-link>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Modyfikuj Profil</a>
            <div class="dropdown-menu">
                <router-link class="dropdown-item" to="/account/changepassword">Zmień hasło</router-link>
                <router-link class="dropdown-item" to="/account/changeemail">Zmień email</router-link>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "UserMenuComponent"
    }
</script>

<style scoped>

</style>