<template>
    <div>

        <user-menu-component></user-menu-component>


        <h3 class="p-2">Zmień email</h3>

        <div class="form">
            <div class="form-group row" >
                <label for="oldemail" class="col-sm-2 col-form-label">Stary email</label>
                <div class="col-sm-6">
                    <input v-model="oldemail" @input="$v.oldemail.$touch()" class="form-control" type="text" id="oldemail">
                    <p class="form-text text-danger" v-if="$v.oldemail.$dirty && !$v.oldemail.required">Pole jest wymagane</p>
                    <p class="form-text text-danger" v-if="$v.oldemail.$dirty && !$v.oldemail.email">Pole musi byc emailem</p>
                </div>
            </div>
            <div class="form-group row" >
                <label for="newemail" class="col-sm-2 col-form-label">Nowy Email</label>
                <div class="col-sm-6">
                    <input v-model="newemail" @input="$v.newemail.$touch()" class="form-control" type="text" id="newemail">
                    <p class="form-text text-danger" v-if="$v.newemail.$dirty && !$v.newemail.required">Pole jest wymagane</p>
                    <p class="form-text text-danger" v-if="$v.newemail.$dirty && !$v.newemail.email">Pole musi byc emailem</p>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button @click="changeEmail" :disabled="$v.$invalid" class="btn btn-success m-2">Zmień email</button>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import UserMenuComponent from "./UserMenuComponent";
    import Vue from 'vue'
    import { validationMixin } from 'vuelidate'
    import { required, email} from 'vuelidate/lib/validators'
    import router from '../../router'

    export default {
        name: "UserChangeEmailComponent",
        components: {
            UserMenuComponent
        },
        data: function () {
            return {
                oldemail: '',
                newemail: ''
            }
        },
        mixins: [validationMixin],
        validations: {
            oldemail: {
                required,
                email
            },
            newemail: {
                required,
                email
            }
        },
        methods: {
            changeEmail: function () {
                let credentials = {
                    oldEmail: this.oldemail,
                    newEmail: this.newemail
                };

                Vue.http.patch(process.env.VUE_APP_PROXY_API_ADDRESS + '/user/changeEmail', credentials)
                    .then(() => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Email',
                            text: 'Email został zmieniony'
                        });
                        router.push({path: '/account'});
                    }, () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Email',
                            text: 'Email nie został zmieniony'
                        });
                    });
            }
        },
        created() {

        }
    }
</script>

<style scoped>

</style>