<template>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <router-link class="nav-link" to="/admin">Główna</router-link>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Użytkownicy</a>
            <div class="dropdown-menu">
                <router-link class="dropdown-item" to="/admin/users">Lista użytkowników</router-link>
                <router-link class="dropdown-item" to="/admin/user/add">Dodaj użytkownika</router-link>
                <router-link class="dropdown-item" to="/admin/user/search">Znajdź użytkownika</router-link>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Opisy książek</a>
            <div class="dropdown-menu">
                <router-link class="dropdown-item" to="/admin/users">Lista opisów książek</router-link>
                <a class="dropdown-item" href="#">Dodaj opis książki</a>
                <a class="dropdown-item" href="#">Znajdź opis książki</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Autorzy</a>
            <div class="dropdown-menu">
                <router-link class="dropdown-item" to="/admin/users">Lista autorów</router-link>
                <router-link class="dropdown-item" to="/admin/author/add">Dodaj autora</router-link>
                <a class="dropdown-item" href="#">Znajdź autora</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Kategorie</a>
            <div class="dropdown-menu">
                <router-link class="dropdown-item" to="/admin/users">Lista kategorii</router-link>
                <a class="dropdown-item" href="#">Dodaj kategorie</a>
                <a class="dropdown-item" href="#">Znajdź kategorie</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Wydawcy</a>
            <div class="dropdown-menu">
                <router-link class="nav-link" to="/admin/users">Lista wydawców</router-link>
                <a class="dropdown-item" href="#">Dodaj wydawce</a>
                <a class="dropdown-item" href="#">Znajdź wydawce</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Wypożyczenia</a>
            <div class="dropdown-menu">
                <router-link class="dropdown-item" to="/admin/hires">Lista wypożyczeń</router-link>
                <a class="dropdown-item" href="#">Dodaj wypożyczenie</a>
                <a class="dropdown-item" href="#">Znajdź wypożyczenie</a>
            </div>
        </li>
        <li class="nav-item">
            <router-link class="nav-link" to="/admin/reservations">Lista Rezerwacji</router-link>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Komentarze</a>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "AdminMenuComponent"
    }
</script>

<style scoped>

</style>