<template>
    <div>
        <admin-menu-component></admin-menu-component>




    </div>
</template>

<script>
    import AdminMenuComponent from "./AdminMenuComponent";
    export default {
        name: "AdminPanelComponent",
        components: {
            AdminMenuComponent
        }
    }
</script>

<style scoped>

</style>