<template>
    <div>
        <admin-menu-component></admin-menu-component>

        <h3 class="p-2">Lista rezerwacji</h3>

        <table class="table" v-if="hires.length > 0">
            <thead>
            <tr>
                <th scope="col">Login</th>
                <th scope="col">Tytul</th>
                <th scope="col">Przejdz do ksiązki</th>
                <th scope="col">Wypożycz książke</th>
            </tr>
            </thead>
            <tbody>


            <tr v-for="hire of hires" v-bind:key="hire.id">
                <td>{{ hire.userName }}</td>
                <td>{{ hire.title }}</td>
                <td><router-link :to="'/book/' + hire.descriptionId" class="btn btn-primary">Przejdź do książki</router-link></td>
                <td><button type="button" @click="changeState(hire, 1)" class="btn btn-primary">Wypożycz książki</button></td>
            </tr>
            </tbody>
        </table>
    </div>


</template>

<script>

    import Vue from 'vue'
    import AdminMenuComponent from "../AdminMenuComponent";

    export default {
        name: "HiresListComponent",
        components: {
            AdminMenuComponent
        },
        data: function () {
            return {
                hires: null
            }
        },
        methods: {
            getHires: function () {
                Vue.http.get(process.env.VUE_APP_PROXY_API_ADDRESS + '/admin/loans')
                    .then( (response) => {
                        let array = response.body.data;
                        let xd = array.filter( hire => hire.loanState === 0);
                        this.hires = xd;
                    });
            },
            changeState: function (hire, state) {
                Vue.http.patch(process.env.VUE_APP_PROXY_API_ADDRESS + '/admin/loans/changeStatus', {
                    loanId: hire.id,
                    loanStatus: state
                })
                    .then(() => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Książka',
                            text: 'Status został zmieniony!'
                        });
                        this.getHires();
                    }, () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Książka',
                            text: 'Status nie został zmieniony!'
                        });
                    });
            }
        },
        created() {
            this.getHires();
        }
    }
</script>

<style scoped>

</style>