<template>
    <div>

        <div class="container-fluid">
            <div class="col-md-8 mx-auto ">
                <div class="jumbotron">
                    <h1 class="display-4">{{ firstName }} {{ lastName }}</h1>
                    <p class="lead">{{ biography }}</p>
                    <h5>Bibliografia</h5>
                    <div class="list-group">
                        <router-link v-for="book in books" v-bind:key="book.id" :to="'/book/' + book.id" class="list-group-item list-group-item-action">{{ book.title }}</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Vue from 'vue'
    export default {
        name: "AuthorComponent",
        data: function () {
            return {
                id: this.$route.params.id,
                firstName: '',
                lastName: '',
                biography: '',
                books: []
            }
        },
        methods: {
            getAuthor: function () {

                Vue.http.get(process.env.VUE_APP_PROXY_API_ADDRESS + '/authors/details/' + this.id)
                    .then(response => {
                        this.firstName = response.body.firstName;
                        this.lastName = response.body.lastName;
                        this.biography = response.body.biography;
                        this.books = response.body.books;
                    });

            }
        },
        created() {
            this.getAuthor()
        }
    }
</script>

<style scoped>

</style>