<template>
    <div>
        <h1 class="text-center">Autorzy</h1>



        <div class="col-md-8 mx-auto ">
            <v-pagination class="justify-content-center"  v-model="page"
                          :page-count="lastPage"
                          :classes="bootstrapPaginationClasses"
                          :labels="paginationAnchorTexts"></v-pagination>
            <form>
                <div class="authors p-4 m-4" v-for="author in authors" v-bind:key="author.id">
                    <span class="author">{{ author.firstName }} {{ author.lastName }}</span>
                    <router-link :to="'/author/' + author.id" class="btn btn-primary float-right">Szczegóły</router-link>
                </div>
            </form>
        </div>



    </div>
</template>

<script>

    import Vue from 'vue'
    import vPagination from 'vue-plain-pagination'

    export default {
        name: "AuthorsComponent",
        components: {
            vPagination
        },
        data: function () {
            return {
                page: 1,
                lastPage: 1,
                total: 1,
                perPage: 1,
                authors: [],
                bootstrapPaginationClasses: {
                    ul: 'pagination',
                    li: 'page-item',
                    liActive: 'active',
                    liDisable: 'disabled',
                    button: 'page-link'
                },
                paginationAnchorTexts: {
                    first: '&laquo;',
                    prev: '&lsaquo;',
                    next: '&rsaquo;',
                    last: '&raquo;'
                }
            }
        },
        methods: {
            getAuthors: function (page) {

                Vue.http.get(process.env.VUE_APP_PROXY_API_ADDRESS + '/authors/' + page)
                    .then(response => {
                        // eslint-disable-next-line no-console
                        this.authors = response.body.data;
                        this.lastPage = response.body.lastPage;
                        this.total = response.body.total;
                        this.perPage = response.body.perPage;
                    });

            }
        },
        watch: {
            page: function (newPage) {
                // eslint-disable-next-line no-console
                this.getAuthors(newPage);
            }
        },
        created() {
            this.getAuthors(1);
        }
    }
</script>

<style scoped>
    .authors
    {
        background-color:#e9ecef;
    }

</style>