<template>
    <div>
        <h1 class="text-center">Ksiązki</h1>
        <hr>
        <v-pagination class="justify-content-center"  v-model="page"
                      :page-count="lastPage"
                      :classes="bootstrapPaginationClasses"
                      :labels="paginationAnchorTexts"></v-pagination>

        <h4 v-if="filters.hasOwnProperty('authorId')">Filtrowany autor: <span class="badge badge-secondary">{{ getAuthorName }}</span></h4>
        <h4 v-if="filters.hasOwnProperty('genreId')">Filtrowany gatunek: <span class="badge badge-secondary">{{ getGenreName }}</span></h4>

        <button class="btn-sm btn btn-primary" v-if="filters.hasOwnProperty('authorId') || filters.hasOwnProperty('genreId') " @click="clearFilter">Wyczyść filtry</button>
    <div class="row mt-2">
        <div class="col-md-4" style="">
            <h2>Kategorie</h2>
            <div class="list-group">
                <button v-for="genre in genres" v-bind:key="genre.id" @click="addFilter('genre', genre.id)" type="button" class="list-group-item list-group-item-action">{{ genre.name }}</button>
            </div>
            <button class="btn btn-primary mt-2 float-right" @click="clearFilter">Wyczyść</button>

            <h2 class="mt-5">Autorzy</h2>
            <div class="list-group">
                <button v-for="author in authors" v-bind:key="author.id" @click="addFilter('author', author.id)" type="button" class="list-group-item list-group-item-action">{{ author.firstName + " " + author.lastName }}</button>
            </div>
            <button class="btn btn-primary mt-2 float-right" @click="clearFilter">Wyczyść</button>
        </div>


        <div class="col-md-8">
                    <div class="authors p-4 m-4" v-for="book in books" v-bind:key="book.id">
                        <h2 >Tytuł: {{ book.title }}</h2>
                        <p class="lead">Autor: <router-link class="link" :to="'/author/' + book.authorId">{{ book.author }}</router-link></p>
                        <p class="lead">Kategoria: {{ book.genre }}</p>
                        <p class="lead">Wydawca: {{ book.publisher }}</p>
                        <p class="lead" v-if="book.hasOwnProperty('rating')">Ocena egzemplarza: {{ Math.round(book.rating) }}</p>


                        <div v-if="book.availability">
                            <p class="text-success">Książka jest dostępna</p>
                        </div>
                        <div v-else>
                            <p class="text-success">Książka jest dostępna</p>
                        </div>
                        <button class="btn btn-success" v-if="book.availability && isLogged" @click="reserveCopy(book.bookId)">Zarezerwuj</button>
                        <button class="btn btn-primary ml-2" v-if="isLogged" @click="addFav(book.bookId)">Dodaj do ulubionych</button>


                        <router-link :to="'/book/' + book.bookId" class="btn btn-primary float-right">Szczegóły</router-link>
                    </div>

        </div>
    </div>


</div>
</template>

<script>
    import Vue from 'vue'
    import vPagination from 'vue-plain-pagination'

    export default {
        name: "BooksComponent",
        computed: {
            isLogged () {
                return this.$store.getters.isLogged
            },
            getAuthorName () {

                for (let i = 0; i < this.genres.length; i++) {

                    if (this.authors[i].id === this.filters.authorId) {
                        return this.authors[i].firstName + " " + this.authors[i].lastName;
                    }

                }

                return "";
            },
            getGenreName () {
                for (let i = 0; i < this.genres.length; i++) {

                    if (this.genres[i].id === this.filters.genreId) {
                        return this.genres[i].name
                    }

                }

                return "";
            }

        },
        components: {
            vPagination
        },
        data: function () {
            return {
                page: 1,
                lastPage: 1,
                total: 1,
                perPage: 1,
                filters: {},
                books: [],
                authors: [],
                genres: [],
                bootstrapPaginationClasses: {
                    ul: 'pagination',
                    li: 'page-item',
                    liActive: 'active',
                    liDisable: 'disabled',
                    button: 'page-link'
                },
                paginationAnchorTexts: {
                    first: '&laquo;',
                    prev: '&lsaquo;',
                    next: '&rsaquo;',
                    last: '&raquo;'
                }
            }
        },
        methods: {
            getAuthors: function (page) {

                Vue.http.get(process.env.VUE_APP_PROXY_API_ADDRESS + '/authors/' + page)
                    .then(response => {
                        // eslint-disable-next-line no-console
                        this.authors = response.body.data;
                        this.lastPage = response.body.lastPage;
                        this.total = response.body.total;
                        this.perPage = response.body.perPage;
                    });

            },
            getGenres: function () {
                Vue.http.get(process.env.VUE_APP_PROXY_API_ADDRESS + '/genres')
                    .then(response => {
                        // eslint-disable-next-line no-console
                        this.genres = response.body.data;
                    });


            },
            getBooks: function (page) {
                Vue.http.post(process.env.VUE_APP_PROXY_API_ADDRESS + "/books", {
                        page: page,
                        filters: this.filters

                    }).then(
                    response => {
                        this.books = response.body.data;
                        this.lastPage = response.body.lastPage;
                        this.total = response.body.total;
                        this.perPage = response.body.perPage;
                    });
            },
            addFilter: function (face, id) {
                if (face == "author") {
                    this.filters = {
                        authorId: id
                    }

                    this.page = 1;

                } else if (face == "genre") {
                    this.filters = {
                        genreId: id
                    }

                    this.page = 1;

                }
                this.getBooks(this.page);

            },
            clearFilter: function () {
                this.filters = {};
                this.page = 1;
                this.getBooks(this.page);
            },
            reserveCopy: function (id) {
                Vue.http.post(process.env.VUE_APP_PROXY_API_ADDRESS + "/user/reservation/" + id)
                    .then(() => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Książka',
                            text: 'Książka została zarezerwowana'
                        });
                    }, () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Książka',
                            text: 'Książka nie została zarezerwowana'
                        });
                    });
            },
            
            addFav: function (id) {
                Vue.http.post(process.env.VUE_APP_PROXY_API_ADDRESS + "/user/favorites/" + id).then(
                    () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Ulubione',
                            text: 'Książka została dodana do ulubionych'
                        });
                    },
                    () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Ulubione',
                            text: 'Książka nie została dodana do ulubionych'
                        });
                    }
                );
            }
        },
        watch: {
            page: function (newPage) {
                this.getBooks(newPage);
            },
        },

        created() {

            this.getAuthors(1);
            this.getBooks(1);
            this.getGenres();



        }
    }
</script>

<style scoped>
    .authors
    {
        background-color:#e9ecef;
    }

    .link {
        color: black;
    }

    .link:hover {
        text-decoration: underline;
    }

</style>