<template>
    <div class="container-fluid">
        <div class="col-md-8 mx-auto ">
            <div class="jumbotron">
                <h1 class="display-4">{{ title }}</h1>
                <p class="lead">Autor: {{ author }}</p>
                <p class="lead">Wydawca: {{ publisher }}</p>
                <p class="lead">Dostepne egzemplarze: {{ availableCopyCount }}</p>
                <p class="lead" v-if="rating !== ''">Ocena egzemplarza: {{ Math.round(rating) }}</p>
                <p><button type="button" :disabled="userLike == 1 || userLike == -1" class="btn btn-link" @click="setRating(false)"><i class="fas fa-thumbs-up"></i></button>
                <button  type="button" :disabled="userLike == -1 || userLike == 1" class="btn btn-link"  @click="setRating(true)"><i class="fas fa-thumbs-down"></i></button></p>
                <button class="btn btn-success" @click="reserveCopy(id)" v-if="availableCopyCount > 0 && isLogged">Zarezerwuj</button>
                <button class="btn btn-primary ml-2" v-if="isLogged" @click="addFav(id)">Dodaj do ulubionych</button>
                <button class="btn btn-success float-right" v-if="isLogged" :disabled="$v.$invalid" v-on:click="addComment()">Dodaj komentarz</button>

                <div class="form-group row" v-if="isLogged" >
                    <label for="commentContent" class="col-sm-2 col-form-label">Komentarz</label>
                    <div class="col-sm-12">
                        <input v-model="commentContent" class="form-control" @input="$v.commentContent.$touch()" type="text" id="commentContent">
                        <p class="form-text text-danger" v-if="$v.commentContent.$dirty && !$v.commentContent.required">Pole jest wymagane</p>
                    </div>
                </div>
                <h2 v-if="comments.length > 0">Komentarze</h2>
                <div class="list-group mt-3">
                    <div class="list-group-item list-group-item-action" v-for="comment in comments" v-bind:key="comment.id">
                        <p class="font-weight-bold">{{ comment.login }} <span v-if="comment.login == userLogin"><button v-on:click="removeComment(comment.id)" class="btn btn-danger btn-sm">Usuń</button></span><p>
                        <div>{{ comment.content }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import Vue from 'vue'
    import { required } from 'vuelidate/lib/validators'
    import { validationMixin } from 'vuelidate'

    export default {
        name: "BookComponent",
        mixins: [
            validationMixin
        ],
        computed: {
            isLogged () {
                return this.$store.getters.isLogged
            },
            userLogin() {
                return this.$store.getters.getUserLogin
            }
        },
        validations: {
            commentContent: {
                required,
            }
        },
        data: function () {
            return {
                id: this.$route.params.id,
                author: '',
                availableCopyCount: 0,
                comments: [],
                genre: '',
                publisher: '',
                title: '',
                rating: '',
                userLike: 0,
                commentContent: ''
            }
        },
        methods: {
            getBook: function () {
                Vue.http.get(process.env.VUE_APP_PROXY_API_ADDRESS + '/books/details/' + this.id)
                    .then(response => {
                        // eslint-disable-next-line no-console
                        this.author = response.body.author;
                        this.availableCopyCount = response.body.availableCopyCount;
                        this.comments = response.body.comments;
                        this.comments.reverse();
                        this.genre = response.body.genre;
                        this.publisher = response.body.publisher;
                        this.title = response.body.title;

                        if (response.body.hasOwnProperty('rating')){
                            this.rating = response.body.rating;
                        }

                        if (response.body.hasOwnProperty('userLike')){
                            this.userLike = response.body.userLike;
                        }

                    });
            },
            setRating: function (isNegative) {

                let credentials = {
                    descriptionId: parseInt(this.id),
                    isNegative: isNegative
                };

                // eslint-disable-next-line no-unused-vars
                Vue.http.post(process.env.VUE_APP_PROXY_API_ADDRESS + '/books/rate', credentials).then( response => {
                        this.getBook();
                });

                this.getBook();
            },
            removeComment: function (id) {
                // eslint-disable-next-line no-unused-vars
                Vue.http.delete(process.env.VUE_APP_PROXY_API_ADDRESS + '/comments/' + id).then( response => {
                    this.getBook();

                    Vue.notify({
                        group: 'foo',
                        title: 'Komentarz',
                        text: 'Komentarz usunięty'
                    });

                });
            },
            addComment: function () {
                let credentials = {
                    "descriptionId": this.id,
                    "content": this.commentContent
                };

                // eslint-disable-next-line no-unused-vars
                Vue.http.post(process.env.VUE_APP_PROXY_API_ADDRESS + '/comments', credentials).then( response => {
                    this.getBook();
                    this.commentContent = '';
                    this.$v.commentContent.$reset();

                    Vue.notify({
                        group: 'foo',
                        title: 'Komentarz',
                        text: 'Komentarz dodany'
                    });

                });
            },
            addFav: function (id) {
                Vue.http.post(process.env.VUE_APP_PROXY_API_ADDRESS + "/user/favorites/" + id).then(
                    () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Ulubione',
                            text: 'Książka została dodana do ulubionych'
                        });
                    },
                    () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Ulubione',
                            text: 'Książka nie została dodana do ulubionych'
                        });
                    }
                );
            },
            reserveCopy: function (id) {
                Vue.http.post(process.env.VUE_APP_PROXY_API_ADDRESS + "/user/reservation/" + id).then(
                    () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Ksiażka',
                            text: 'Książka zarezerwowana'
                        });
                    },
                    () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Książka',
                            text: 'Książka nie zarezerwowana'
                        });
                    }
                );
            }
        },
        created() {
            this.getBook();
        }
    }

</script>

<style scoped>

</style>