<template>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container">
             AlpacoRożedż &copy; 2019 - 2020
        </div>
    </nav>
</template>

<script>
    export default {
        name: "FooterComponent"
    }
</script>

<style scoped>
</style>