<template>
  <div>
      <h1 class="mt-5 text-center">Strona główna</h1>

      <div class="form-group">
          <label for="search">Wyszukaj po tytule</label>
          <input type="text" v-model="title" class="form-control" id="search" placeholder="Katarynka">
      </div>

      <router-link class="btn btn-primary" :to="'/books/' + title">Przejdź</router-link>

  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data: function () {
        return {
            title: ''
        }
  },
  props: {
    msg: String
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>
