<template>
    <div class="container">

        <h1 class="mt-5">Strona Logowania</h1>

        <div class="form mt-5">
            <div class="form-group row" >
                <label for="login" class="col-sm-2 col-form-label">Login</label>
                <div class="col-sm-6">
                    <input v-model="username" @input="$v.username.$touch()" class="form-control" type="text" id="login">
                    <p class="form-text text-danger" v-if="$v.username.$dirty && !$v.username.required">Pole jest wymagane</p>
                </div>
            </div>
            <div class="form-group row" >
                <label for="password" class="col-sm-2 col-form-label">Hasło</label>
                <div class="col-sm-6">
                    <input v-model="password" @input="$v.password.$touch()" class="form-control" type="password" id="password">
                    <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.required">Pole jest wymagane</p>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button v-on:click="login" class="btn btn-success m-2" :disabled="$v.$invalid">Zaloguj</button>
                    <router-link to="/register" class="btn btn-primary m-2">Zarejestruj</router-link>
                    <router-link to="/passwordrecover" class="btn btn-warning m-2">Przypomnij hasło</router-link>
                </div>
            </div>
        </div>

    </div>

</template>

<script>

    import { validationMixin } from 'vuelidate'
    import { required } from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                username:'',
                password:''
            }
        },
        mixins: [validationMixin],
        validations: {
            username: {
                required
            },
            password: {
                required
            }
        },
        methods: {
            login() {
                this.$store.dispatch('login', {
                    login: this.username,
                    password: this.password
                });
            }
        }
    }
</script>