<template>
    <div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <router-link to="/" class="navbar-brand"><img src="../../public/svg/logo.svg" width="30" height="30" /></router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link to="/authors" class="nav-link">Autorzy</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/books" class="nav-link">Książki</router-link>
                </li>
                <li class="nav-item">
                    <router-link v-if="this.isLogged" to="/account" class="nav-link">Konto</router-link>
                </li>
                <li class="nav-item">
                    <router-link v-if="this.isAdmin" to="/admin" class="nav-link">ADMIN</router-link>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <router-link v-if="!this.isLogged" to="/login" class="nav-link">Logowanie</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link v-if="!this.isLogged" to="/register" class="nav-link">Rejestracja</router-link>
                    </li>
                </ul>
                <button v-if="this.isLogged" v-on:click="logout" class="btn btn-outline-success my-2 my-sm-0">Wyloguj</button>
            </form>
        </div>
    </nav>

</div>
</template>

<script>

    import { mapGetters } from 'vuex'

    export default {
        name: "MenuComponent",
        computed: mapGetters([
            'isLogged', 'isAdmin'
        ]),
        methods: {
            logout() {
                this.$store.dispatch('logout');
            }
        }
    }
</script>

<style scoped>

</style>