<template>
    <div class="container">
        <h1 class="mt-5">Strona Odzyskiwania Hasła</h1>

        <div class="form mt-5">
            <div class="form-group row" >
                <label for="login" class="col-sm-2 col-form-label">Login</label>
                <div class="col-sm-6">
                    <input v-model="login" class="form-control" @input="$v.login.$touch()" type="text" id="login" :disabled="disableLogin">
                    <p class="form-text text-danger" v-if="$v.login.$dirty && !$v.login.required">Pole jest wymagane</p>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button v-if="!question" :disabled="$v.login.$invalid" v-on:click.prevent="getQuestion" class="btn btn-primary m-2">Zaakceptuj</button>
                </div>
            </div>
        </div>
        <div v-if="question">
            <div class="row" v-if="question">
                <div class="col-sm-2">Twoje pytanie to: </div>
                <div class="col-sm-6">{{ question }}</div>
            </div>
            <div class="form mt-5">
                <div class="form-group row" >
                    <label for="answer" class="col-sm-2 col-form-label">Odpowiedź</label>
                    <div class="col-sm-6">
                        <input v-model="answer" @input="$v.answer.$touch()" class="form-control" type="text" id="answer">
                        <p class="form-text text-danger" v-if="$v.answer.$dirty && !$v.answer.required">Pole jest wymagane</p>
                    </div>
                </div>
                <div class="form-group row" >
                    <label for="password" class="col-sm-2 col-form-label">Hasło</label>
                    <div class="col-sm-6">
                        <input v-model="password" @input="$v.password.$touch()" class="form-control" type="password" id="password">
                        <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.required">Pole jest wymagane</p>
                        <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.strongPassword">Pole musi zawierać litery cyfry znaki specjalne i musi być dłuższe niż 6 znaków</p>
                    </div>
                </div>
                <div class="form-group row" >
                    <label for="passwordRepeat" class="col-sm-2 col-form-label">Powtórz hasło</label>
                    <div class="col-sm-6">
                        <input v-model="repeatPassword" @input="$v.repeatPassword.$touch()" class="form-control" type="password" id="passwordRepeat">
                        <p class="form-text text-danger" v-if="$v.repeatPassword.$dirty && !$v.repeatPassword.required">Pole jest wymagane</p>
                        <p class="form-text text-danger" v-if="$v.repeatPassword.$dirty && !$v.repeatPassword.sameAsPassword">Hasła nie są identyczne</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <button v-on:click.prevent="recoverPassword" :disabled="$v.$invalid" class="btn btn-primary m-2">Zmień hasło</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>

<script>

    import Vue from 'vue'
    import router from './../router'
    import { validationMixin } from 'vuelidate'
    import { required, sameAs } from 'vuelidate/lib/validators'

    export default {
        name: "PasswordRecoverComponent",
        data: function () {
            return {
                login: '',
                question: '',
                answer: '',
                password: '',
                repeatPassword: ''
            }
        },
        mixins: [
            validationMixin
        ],
        validations: {
            login: {
                required
            },
            password: {
                required,
                strongPassword(password1) {
                    return (
                        /[a-z]/.test(password1) && // checks for a-z
                        /[0-9]/.test(password1) && // checks for 0-9
                        /\W|_/.test(password1) && // checks for special char
                        password1.length >= 6
                    );
                }
            },
            repeatPassword: {
                required,
                sameAsPassword: sameAs('password')
            },
            answer: {
                required
            }
        },
        methods: {
            getQuestion: function () {

                Vue.http.get(process.env.VUE_APP_PROXY_API_ADDRESS + '/auth/question/' + this.login)
                    .then(response => {
                        this.question = response.body.securityQuestion;
                        // eslint-disable-next-line no-unused-vars
                    }, response => {
                        Vue.notify({
                            group: 'bar',
                            title: 'Odzyskanie hasła',
                            text: 'Podany użytkownik nie istnieje'
                        });
                    });
            },
            recoverPassword: function () {

                let credentials = {
                    login: this.login,
                    securityAnswer: this.answer,
                    newPassword: this.password
                };
                Vue.http.post(process.env.VUE_APP_PROXY_API_ADDRESS + '/auth/restore', credentials)
                // eslint-disable-next-line no-unused-vars
                    .then(response => {
                        router.push("/login");
                        Vue.notify({
                            group: 'foo',
                            title: 'Odzyskanie hasła',
                            text: 'Zmieniłeś hasło :)'
                        });
                        // eslint-disable-next-line no-unused-vars
                    }, response => {
                        Vue.notify({
                            group: 'bar',
                            title: 'Odzyskanie hasła',
                            text: 'Dane do odzyskania hasła nie są prawidłowe'
                        });
                    });
            }
        },
        computed: {
            disableLogin: function () {
                if (this.question){
                    return true;
                } else {
                    return false
                }
            }
        }

    }
</script>

<style scoped>

</style>