<template>
    <div class="container">
        <h1 class="mt-5">Strona Rejestracji</h1>

        <div class="form mt-5">
            <div class="form-group row" >
                <label for="login" class="col-sm-2 col-form-label">Login</label>
                <div class="col-sm-6">
                    <input v-model="login" @input="$v.login.$touch()" class="form-control" type="text" id="login">
                    <p class="form-text text-danger" v-if="$v.login.$dirty && !$v.login.required">Pole jest wymagane</p>
                    <p class="form-text text-danger" v-if="$v.login.$dirty && !$v.login.minLength">Pole musi mieć wiecej niż 6 znaków</p>
                </div>
            </div>
            <div class="form-group row" >
                <label for="password" class="col-sm-2 col-form-label">Hasło</label>
                <div class="col-sm-6">
                    <input v-model="password" @input="$v.password.$touch()" class="form-control" type="password" id="password">
                    <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.required">Pole jest wymagane</p>
                    <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.strongPassword">Pole musi zawierać litery cyfry znaki specjalne i musi być dłuższe niż 6 znaków</p>
                </div>
            </div>
            <div class="form-group row" >
                <label for="passwordRepeat" class="col-sm-2 col-form-label">Powtórz hasło</label>
                <div class="col-sm-6">
                    <input v-model="repeatPassword" @input="$v.repeatPassword.$touch()" class="form-control" type="password" id="passwordRepeat">
                    <p class="form-text text-danger" v-if="$v.repeatPassword.$dirty && !$v.repeatPassword.required">Pole jest wymagane</p>
                    <p class="form-text text-danger" v-if="$v.repeatPassword.$dirty && !$v.repeatPassword.sameAsPassword">Hasła nie są identyczne</p>
                </div>
            </div>
            <div class="form-group row" >
                <label for="email"  class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-6">
                    <input v-model="email" @input="$v.email.$touch()" class="form-control" type="text" id="email">
                    <p class="form-text text-danger" v-if="$v.email.$dirty && !$v.email.required">Pole jest wymagane</p>
                    <p class="form-text text-danger" v-if="$v.email.$dirty && !$v.email.email">Pole jest spełnia warunków Email</p>
                </div>
            </div>
            <div class="form-group row" >
                <label for="question" class="col-sm-2 col-form-label">Pytanie zabezpieczające</label>
                <div class="col-sm-6">
                    <input v-model="securityQuestion" @input="$v.securityQuestion.$touch()" class="form-control" type="text" id="question">
                    <p class="form-text text-danger" v-if="$v.securityQuestion.$dirty && !$v.securityQuestion.required">Pole jest wymagane</p>
                </div>
            </div>
            <div class="form-group row" >
                <label for="answer" class="col-sm-2 col-form-label">Odpowiedź zabezpieczająca</label>
                <div class="col-sm-6">
                    <input v-model="securityAnswer" @input="$v.securityAnswer.$touch()" class="form-control" type="text" id="answer">
                    <p class="form-text text-danger" v-if="$v.securityAnswer.$dirty && !$v.securityAnswer.required">Pole jest wymagane</p>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button v-on:click="register" :disabled="$v.$invalid" class="btn btn-success m-2">Zarejestruj się</button>
                    <router-link to="/login" class="btn btn-primary m-2">Zaloguj</router-link>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import Vue from 'vue'
    import router from '../router'
    import { validationMixin } from 'vuelidate'
    import { email, required, minLength, sameAs } from 'vuelidate/lib/validators'

    export default {
        name: "RegiserComponent",
        mixins: [
            validationMixin
        ],
        validations: {
            login: {
                required,
                minLength: minLength(6)
            },
            password: {
                required,
                strongPassword(password1) {
                    return (
                        /[a-z]/.test(password1) && // checks for a-z
                        /[0-9]/.test(password1) && // checks for 0-9
                        /\W|_/.test(password1) && // checks for special char
                        password1.length >= 6
                    );
                }
            },
            repeatPassword: {
                required,
                sameAsPassword: sameAs('password')
            },
            email: {
                required,
                email
            },
            securityQuestion: {
                required
            },
            securityAnswer: {
                required
            }
        },
        data: function () {
            return {
                login: '',
                password: '',
                repeatPassword: '',
                email: '',
                securityQuestion: '',
                securityAnswer: ''
            }
        },
        methods: {
            register: function () {

                let credential = {
                    login: this.login,
                    email: this.email,
                    password: this.password,
                    securityQuestion: this.securityQuestion,
                    securityAnswer: this.securityAnswer
                };

                Vue.http.post(process.env.VUE_APP_PROXY_API_ADDRESS + '/auth/register', credential)
                    .then((response) => {
                        // eslint-disable-next-line no-console
                        console.log(response);
                        Vue.notify({
                            group: 'foo',
                            title: 'Rejestracja',
                            text: 'Rejestracja zakończona'
                        });
                        router.push("/login");
                        // eslint-disable-next-line no-unused-vars
                    }, response => {
                        Vue.notify({
                            group: 'bar',
                            title: 'Rejestracja',
                            text: 'Rejestracja nie zakonczyła sie powodzeniem!'
                        });
                    });

            }
        }
    }
</script>

<style scoped>

</style>