<template>
    <div>
        <h1 class="text-center">Szukane książki</h1>



        <div class="col-md-8 mx-auto ">
            <v-pagination class="justify-content-center"  v-model="page"
                          :page-count="lastPage"
                          :classes="bootstrapPaginationClasses"
                          :labels="paginationAnchorTexts"></v-pagination>

            <div class="authors p-4 m-4" v-for="book in books" v-bind:key="book.id">
                <h2 >Tytuł: {{ book.title }}</h2>
                <p class="lead">Autor: <router-link class="link" :to="'/author/' + book.authorId">{{ book.author }}</router-link></p>
                <p class="lead">Kategoria: {{ book.genre }}</p>
                <p class="lead">Wydawca: {{ book.publisher }}</p>
                <p class="lead" v-if="book.hasOwnProperty('rating')">Ocena egzemplarza: {{ Math.round(book.rating) }}</p>
                <button class="btn btn-primary ml-2" v-if="isLogged" @click="addFav(book.bookId)">Dodaj do ulubionych</button>

                <router-link :to="'/book/' + book.bookId" class="btn btn-primary float-right">Szczegóły</router-link>
            </div>

        </div>



    </div>
</template>

<script>

    import Vue from 'vue'
    import vPagination from 'vue-plain-pagination'

    export default {
        name: "TitleBookComponent",
        components: {
            vPagination
        },
        computed : {
            isLogged () {
                return this.$store.getters.isLogged
            },
        },
        data: function () {
            return {
                page: 1,
                lastPage: 1,
                total: 1,
                perPage: 1,
                books: [],
                title: this.$route.params.title,
                bootstrapPaginationClasses: {
                    ul: 'pagination',
                    li: 'page-item',
                    liActive: 'active',
                    liDisable: 'disabled',
                    button: 'page-link'
                },
                paginationAnchorTexts: {
                    first: '&laquo;',
                    prev: '&lsaquo;',
                    next: '&rsaquo;',
                    last: '&raquo;'
                }
            }
        },
        methods: {
            getTitleBooks: function (page) {
                    Vue.http.post(process.env.VUE_APP_PROXY_API_ADDRESS + "/books/search", {
                        page: page,
                        query: this.title

                    }).then(
                        response => {
                            this.books = response.body.data;
                            this.lastPage = response.body.pagination.lastPage;
                            this.total = response.body.pagination.totalItems;
                            this.perPage = response.body.pagination.perPage;
                        });
            },
            addFav: function (id) {
                Vue.http.post(process.env.VUE_APP_PROXY_API_ADDRESS + "/user/favorites/" + id).then(
                    () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Ulubione',
                            text: 'Książka została dodana do ulubionych'
                        });
                    },
                    () => {
                        Vue.notify({
                            group: 'foo',
                            title: 'Ulubione',
                            text: 'Książka nie została dodana do ulubionych'
                        });
                    }
                );
            }
        },
        watch: {
            page: function (newPage) {
                // eslint-disable-next-line no-console
                this.getTitleBooks(newPage);
            }
        },
        created() {
            this.getTitleBooks(1);
        }
    }
</script>

<style scoped>
    .authors
    {
        background-color:#e9ecef;
    }

</style>