<template>
  <div>
    <notifications group="foo" position="top left"  class="alert-primary"/>
    <notifications group="bar" position="top left" class="alert-danger"/>
    <menu-component></menu-component>
    <div class="container">
      <router-view class="content"></router-view>
    </div>
    <footer-component></footer-component>
  </div>
</template>

<script>


  import MenuComponent from "./components/MenuComponent";
  import FooterComponent from "./components/FooterComponent";

  export default {
    name: 'app',
    components: {
      MenuComponent, FooterComponent
    },
    config: {
      address: process.env.VUE_APP_PROXY_API_ADDRESS
    }
  }
</script>
<style scoped>

  .content{
    margin-top: 100px;
    margin-bottom: 80px;
  }

</style>

